/* Estilização da section carreira */

/* @import url("/assets/css/global.css");

section.carreira {
  height: 57rem;
}

section.carreira .container--flex {
  column-gap: 7rem;
  height: 27rem;
} */

.carreira--box-right {
  background-color: var(--color-second);
  width: 100%;
  color: #fff;
  padding: 17px;
  border-radius: 10px;
}

.carreira--box-right ul {
  padding: 17px;
}

.carreira--box-right * {
  margin-bottom: 5.4px;
}

.carreira--box-right h3 {
  font-size: var(--h3-font);
  font-weight: 500;
}

/* Componente tabs menu */

.carreira-title h2.title {
  margin-bottom: 40px;
}

.carreira--experiencias--tabs {
  display: flex;
  flex-direction: column;
  width: 198.593px;
  justify-content: space-between;
}

.carreira--experiencias--tabs button {
  padding: 12.414px 10.089px;
  cursor: pointer;
  justify-content: space-around;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  border-radius: 6px;
  border: none;
  outline: none;
}

.carreira--experiencias--tabs button.ativo {
  background-color: var(--color-second);
  color: #fff;
}

.carreira--experiencias--tabs button i {
  font-size: 17px;
}

.tabs-conteudo {
  display: none;
}
