/* Estilização da section cursos */

@import url("/assets/css/global.css");

section.cursos {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.9836309523809523) 67%,
    rgba(255, 0, 249, 0.4458158263305322) 100%
  );
  padding: 40px 9%;
  margin-bottom: 40px; /* Espaçamento entre seções */
}

.container--padding,
.container--padding h3,
.cursos-box--p-text {
  text-align: left;
  padding: 17px 0;
  margin-bottom: 15px; /* Espaçamento interno em elementos */
}

.container--padding h2.title {
  text-align: left;
}

.container--padding .p-title {
  text-transform: uppercase;
  font-size: var(--p-font);
  color: var(--cinder-light);
  font-weight: 500;
  line-height: 0.51894rem;
  letter-spacing: 0.16219rem;
}

.container--padding .p-title .p-span {
  color: var(--color-primary);
  font-size: 2.5rem;
  vertical-align: middle;
  flex-shrink: 0;
}

.cursos .container--padding .row-wrap {
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
}

.cursos .container--padding .grid-container {
  display: grid;
  gap: 70px;
  grid-template-columns: auto auto;
}

.cursos .container--padding .container--flex .cursos-box img {
  border: solid var(--color-dark) 3px;
  border-radius: 10px;
  width: 100%;
  padding: 17px;
  margin-bottom: 20px;
}
