/* Importação */
/* Google fonts - Poppins */
@import url("https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1.300;1.400;1.500;1.600;1.700;1.800;1.900 & display=swap");

/* Variáveis */
:root {
  --font-primary: "Poppins", sans-serif;
}

/* Configuração geral | Resetando configurações */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
}

.container-padding {
  max-width: 1280px;
  margin: 0 auto; /* Centralizando itens */
}

.container--flex {
  display: flex;
}

.btn-contato button {
  padding: 12.0125px 40px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 20px;
  border: none;
  color: #fff;
  background-color: #d51482;
  cursor: pointer;
  transition: 0.3s;
}

.btn-contato button:hover {
  box-shadow: 0px 0px 8px #d51481a8;
  transform: scale(
    1.05
  ); /* Efeit zoom - é necessário setar display inline-block na tag a*/
}

/* Fim - Configuração geral | Resetando configurações */

/* Estilo do cabeçalho */

header {
  padding: 40px 9%; /* Aplicando 40px top e button - 9% em ambas laterais */
}

/* Usando seletor ">" para aplicar estilização apenas nos elementos/itens na class container "filha" da tag "mão" header */

header > .container-padding {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: #3a3a3a;
  display: inline-block; /* Transformando link em um elemento block level para adquirir propriedade "transforme"  */
  transition: 0.3s;
}

header a:hover {
  color: #ff3cab;
  transform: scale(
    1.05
  ); /* Efeit zoom - é necessário setar display inline-block na tag a*/
  font-weight: 600;
}

header nav ul {
  list-style-type: none;
}

header nav li {
  display: inline-block; /* Elementos na mesma linha conservando largura e altura */
  padding: 0 2.5rem;
}

/* Main configurações */

/* Section Hero */

section.hero {
  padding: 40px 9%;
}

section.hero .container--flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.hero h1 {
  font-size: 48px;
  color: #3a3a3a;
}

.hero .text-hero h1 strong {
  color: #d51482;
}

.hero .text-hero p {
  margin: 40px 0;
}

/* Imagem hero */

.img--hero img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.img--hero--container {
  display: flex;
  flex-direction: column;
}
